<section data-ng-controller="DoctorsController">
    <div class="page-header">
        <h1>New Doctor</h1>
    </div>
    <div  id="crete-doc" class="panel col-md-12">
      <form class="form-horizontal" style="margin-top:30px;" data-ng-submit="create()" novalidate>
        <div id ="create-doc-right" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
          <div id="doctor-profilepic" class="text-center">
              <img ng-src="{{profilePic}}" class="avatar img-thumbnail" alt="avatar" height="250" width="250">
              <h6><i>Profile Picture</i></h6>
              <div>
                Choose File:
                <div class="btn btn-primary" ngf-select ng-model="files" ngf-accept="'image/*'" >Upload Image</div>
              </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
              <input type="text" data-ng-model="name" id="name" class="form-control marg_less" placeholder="Name" required>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="description">Description</label>
            <div class="controls">
              <textarea data-ng-model="description"  rows="4" id="description" class="form-control marg_less" placeholder="Introduce Yourself" required ng-trim="false" maxlength="1500"></textarea>
            </div>
          </div>

          <!--<div class="form-group">-->
            <!--<label class="control-label" for="location">Location</label>-->
            <!--<div class="controls">-->
              <!--<input type="text" data-ng-model="location" id="location" class="form-control marg_less" placeholder="Location" required>-->
            <!--</div>-->
          <!--</div>-->


        </div>

        <div id="create-doc-left" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label" for="qualification">Qualification</label>
            <div class="controls" data-ng-init="qualification=['']">
              <input style="margin-bottom: 15px;" type="text" ng-repeat="q in qualification track by $index" data-ng-model="qualification[$index]" id="qualification" class="form-control marg_less" placeholder="Qualification {{$index+1}}" required>
              <a href="javascript:;" data-ng-click="qualification.push('');">Add More</a>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="speciality">Speciality</label>
            <div class="controls">
              <select data-ng-model="speciality" id="speciality" class="form-control marg_less" required>
                <option value="Orthopedic">CARDIOLOGIST</option>
                <option value="Orthopedic">DENTIST</option>
                <option value="Orthopedic">NEUROLOGIST</option>
                <option value="Orthopedic">ORTHOPADIC</option>
                <option value="Orthopedic">PHYSIOLOGIST</option>
                <option value="Orthopedic">PHYSIAN</option>
                <option value="Orthopedic">SURGEON</option>
              </select>
            </div>
          </div>

          <!--<div class="form-group">-->
            <!--<label class="control-label" for="availability">Availability</label>-->
            <!--<div class="controls">-->
              <!--<input type="text" data-ng-model="availability" id="availability" class="form-control marg_less" placeholder="Availability" required>-->
            <!--</div>-->
          <!--</div>-->
          <div class="form-group">
            <label class="control-label" for="timeZone">Time Zone</label>
            <div class="controls">
              <select data-ng-model="timeZone" id="timeZone" class="form-control marg_less">
                <option  ng-selected="timeZone == value" value="{{value}}" ng-repeat="(key, value) in timeZoneArray">{{key}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="links">Links</label>
            <div class="controls">
              <input type="text" data-ng-model="links" id="links" class="form-control marg_less" placeholder="Links" required>
            </div>
          </div>

          <div class="form-group">
            <input type="submit" class="btn btn-success pull-right" value="Create">
          </div>
          <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
          </div>
        </div>
      </form>




    </div>
</section>
