<section class="page" data-ng-controller="DoctorsController" data-ng-init="findOne()">
	<div class="page-header">
    <h1 data-ng-bind="doctor.name"></h1>
	</div>

	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == doctor.user._id))">
		<a class="btn btn-primary" href="/#!/doctors/{{doctor._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

	<!--<small>-->
		<!--<em class="text-muted">-->
			<!--Posted on-->
			<!--<span data-ng-bind="doctor.created | date:'mediumDate'"></span>-->
			<!--by-->
			<!--<span data-ng-bind="doctor.user.displayName"></span>-->
		<!--</em>-->
	<!--</small>-->

  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="panel panel-default mb20 mini-box panel-hovered">
        <div class="panel-heading">Patient Camera</div>
        <div class="panel-body">
          <div class="clearfix">
                <video autoplay="true" id="videoElement" style="width:100%;">
             
                </video>
            <div class="info left">
              <h5 class="text-light mb0"><b>Patient Name:</b> Robert Smith</h5>
            </div>

            <div class="right ion ion-ios-people-outline icon"></div>
          </div>
        </div>
        <div class="panel-footer clearfix panel-footer-sm panel-footer-success">
          <p class="mt0 mb0 left">% change</p>
          <span sparkline class="right" type="bar" bar-color="#fff" width="1.15em" height="1.15em">3,5,9,8,6,10</span>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6">
      <div class="panel panel-default mb20 mini-box panel-hovered">
        <div class="panel-heading">Patient Camera</div>
        <div class="panel-body">
          <div class="clearfix">
                <video autoplay="true" id="videoDocElement" style="width:100%;">
             
                </video>
            <div class="info left">
              <h5 class="text-light mb0"><b>Doctor's Name:</b> {{doctor.name}}</h5>
            </div>

            <div class="right ion ion-ios-people-outline icon"></div>
          </div>
        </div>
        <div class="panel-footer clearfix panel-footer-sm panel-footer-success">
          <p class="mt0 mb0 left">% change</p>
          <span sparkline class="right" type="bar" bar-color="#fff" width="1.15em" height="1.15em">3,5,9,8,6,10</span>
        </div>
      </div>
    </div>
  </div>

  <script>
    var video = document.querySelector("#videoElement");

    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;

    if (navigator.getUserMedia) {
      navigator.getUserMedia({video: true}, handleVideo, videoError);
    }

    function handleVideo(stream) {
      video.src = window.URL.createObjectURL(stream);
    }

    function videoError(e) {
      // do something
    }
    </script>
</section>
