<section class="page" data-ng-controller="DoctorsController" data-ng-init="findOne()">
  <div class="page-header">
    <h3 data-ng-bind="doctor.name"></h3>
  </div>

  <!--<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == doctor.user._id))">-->
    <!--<a class="btn btn-primary" href="/#!/doctors/{{doctor._id}}/edit">-->
      <!--<i class="glyphicon glyphicon-edit"></i>-->
    <!--</a>-->
    <!--<a class="btn btn-primary" data-ng-click="remove();">-->
      <!--<i class="glyphicon glyphicon-trash"></i>-->
    <!--</a>-->
  <!--</div>-->
  <small>
    <em class="text-muted">
      Doctor's Profile
    </em>
  </small>

<div class="row">
  <div class="col-md-4">
    <p> <img src="modules/doctors/img/doctor.png"></p>
    <p> <b>Name:</b> <i data-ng-bind="doctor.name"></i></p>
    <p> <b>Qualification:</b> <i data-ng-bind="doctor.qualification"></i></p>
    <p> <b>Description:</b> <i data-ng-bind="doctor.description"></i></p>
  </div>


  <div class="col-md-8">
    <div class="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar1"></div>
  </div>
  </div>
</section>
