<section data-ng-controller="DoctorsController" data-ng-init="findOne()">
	<div class="page-header">
    <h1 data-ng-bind="doctor.name"></h1>
    <h1 data-ng-bind="doctor.description"></h1>
    <h1 data-ng-bind="doctor.qualification"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == doctor.user._id))">
		<a class="btn btn-primary" href="/#!/doctors/{{doctor._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="doctor.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="doctor.user.displayName"></span>
		</em>
	</small>
</section>
